<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security入门</title>
</head>
<body>
<h1>欢迎使用Spring Security!
    当前登录账号：<label th:text="${name}"></label></h1>
<p>点击 <a th:href="@{/hello}">这里</a> 打个招呼吧</p>
<p> <a th:href="@{/helloAdmin}">admin page</a></p>
<p><a th:href="@{/helloUser}">user page</a></p>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="退出登录"/>
</form>
</body>
</html>