<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Insert title here</title>
</head>
<body>
<div th:fragment="menu">
    <!--sidebar nav start-->
    <ul class="nav nav-pills nav-stacked custom-nav">
        <li th:each="menu: ${rootMenus}" class="menu-list">
            <a href="#"><i class="fa fa-laptop"></i> <span th:text="${menu.menuName}">布局</span></a>
            <ul class="sub-menu-list">
                <li th:each="menuChildren:${menu.children}">
                    <a href="javascript:void(0);" th:text="${menuChildren.menuName}"
                       th:attr="onclick='load(\''+${menuChildren.menuUrl}+'\');breadcrumb(\''+${menu.menuName}+'\',\''+${menuChildren.menuName}+'\',\''+${menuChildren.menuUrl}+'\')'"></a>

                </li>
            </ul>
        </li>
    </ul>
    <!--sidebar nav end-->

</div>

</body>
</html>